
.navbar {
    width: 100%;
    background-color: white;
    display: block;
    height: 55px;
}

.navLink {
    float: right;
    margin: 15px;
}

.link {
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding-top: 4px;
}

.link:hover {
    text-decoration: underline;
}

.landingPageImg {
    /* width: 100vw; */
    height: 100vh;
    background: url("../../images/mobileLandingPage.svg") no-repeat top center;
    background-size: cover;
}

.landingPageImg h1 {
    padding-top: 60%;
    text-align: center;

}

.landingPageText p {
    font-style: italic;
    font-size: 1.5em;
    margin-top: 5px;
    padding: 0 50px;
    text-align: center;

}

.landingPageText h1 {
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 3.5em;
}

.feature img,
.feature p {
    width: 70%;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.feature p {
    margin-bottom: 90px;
    font-style: italic;
    font-size: 1.5em;
}

.flexGrid {
    display: block;
}

.greenBkgrd {
    background-color: #659003;
}

.beetImg {
    width: 80%;
    margin-top: 80px;
}

.beetText {
    width: 60%;
    position: relative;
    top: -450px;
    left: 40%;
}

.beetText h2 {
    font-family: 'Playfair display', serif;
    color: white;
    margin: 0;
}

.beetText h2:nth-child(2) {
    margin-bottom: 125px;
}

.loginLink {
    text-decoration: none;
    color: #ccc;
    font-size: .75em;
}

.loginLink:hover {
    text-decoration: underline;
}


.demoUser {
    /* width: 50%; */
    margin: 0 auto;
    font-size: 1.25em;
    position: relative;
    top: -140px;
    max-width: 70%;
}

.demoUser p:first-child {
    margin-bottom: 35px;
}

/* selects just the headings for demo user */
.demoUser p:nth-child(even) {
    font-style: italic;
    text-transform: uppercase;
    display: block;
}

/* selects values of username and password */
.demoUser p:nth-child(3),
.demoUser p:nth-child(5) {
    padding-left: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 35px;
    font-weight: 600;
}



@media only screen and (min-width: 320px) {
    .beetImg {
        width: 70%;
    }

    .beetText {
        top: -360px;
    }

    .beetText h2 {
        font-size: 2.5em;
    }
}

@media only screen and (min-width: 480px) {
    .landingPageImg h1 {
        padding-top: 50%;

    }


}

@media only screen and (min-width: 620px) {
    .beetText {
        top: -460px;
    }

    .beetText h2 {
        font-size: 3.5em;
    }

    .landingPageImg h1 {
        padding-top: 50%;

    }

}

@media only screen and (min-width: 768px) {
    .flexGrid {
        display: flex;
        justify-content: space-between;
    }

    .col {
        flex: 1;
    }

    .landingPageImg {
        /* width: 100%; */
        width: 100vw;
        height: 100vh;
        background: url("../../images/landingPage.svg") no-repeat top center;
        background-size: cover;
    }

    .landingPageImg h1 {
        padding-top: 25%;
    }

    .featurePage {
        margin: 150px 0;
    }

    .beetText {
        top: -350px;
    }

    .beetText h2 {
        font-size: 3.5em;
    }

    .demoUser {
        top: 50px;
        margin: 0 25px;
        padding-right: 40px;
    }
}

@media only screen and (min-width: 900px) {
    .beetText {
        top: -400px;
    }


    .landingPageImg h1 {
        padding-top: 20%;
    }


}

@media only screen and (min-width: 1100px) {
    .demoUser {
        top: 140px;
    }

    .beetText {
        top: -440px;
    }
}
