.all-gardens-content {
    margin: 20px 10%;
    margin-top: 150px;
}

.title {
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;
}

ul.gardens-list-view {
    list-style-type: none;
    padding: 0;
}
