.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 5;
}

.mainContent {
    margin: 20px 10%;
    margin-top: 150px;
}

ul.gardensListView {
    list-style-type: none;
    padding: 0;
}

li.condensedGarden {
    border: 1px black solid;
    margin-bottom: 20px;
    padding: 5px 20px;
}

.subheading {
    font-weight: 400;
    text-transform: capitalize;
}

.link:link {
    text-decoration: none;
    color: black;
}

.link:visited {
    color: grey;
}

.link:hover {
    text-decoration: underline;
}

p.location {
    font-style: italic;
    text-transform: capitalize;
}

.footerImg {
    margin-top: 50px;
}

.needToWater {
    margin-top: 60px;
}
