.mainContent {
    margin: 20px 10%;
    margin-top: 150px;
}

ul.gardensListView {
    list-style-type: none;
    padding: 0;
}

li.condensedGarden {
    border: 1px black solid;
    margin-bottom: 20px;
    padding: 5px 20px;
}

/* li.condensedGarden:nth-child(1) {
    padding-top: 20px;
} */

h3 {
    font-weight: 400;
    text-transform: capitalize;

}

p.description {
    font-style: italic;
    text-transform: capitalize;
}
