form input {
    display: block;
    margin-bottom: 20px;
    background-color: transparent;
    border: none;
    border-bottom: 1px black solid;
    width: 30%;
    height: 20px;
}

form label {
    text-transform: uppercase;
    font-size: .9em;
    font-style: italic;
}
