.heading {
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;
}

.italicSubheading {
    text-transform: uppercase;
    font-style: italic;
}

.subHeading {

}

.body {
    /* font-style: italic; */
}
